body {
	color: var(--theme-main-color);
	background-color: #181818;
}

img.qr-code {
	padding: 1em;
	border-radius: 4px;
	background-color: var(--theme-main-color);
}

div.box {
	background-color: #282828;
}

pre {
	background-color: #191919;
}

date {
	color: var(--theme-main-color);
}

a {
	color: var(--theme-main-color);
}

#nav a {
	color: var(--theme-main-color);
}

#nav ul a li {
	background: #202020;
}

#nav ul a li:hover {
	background: rgba(100, 100, 100, 0.5);
}

#homeLink {
	background: #202020;
}

#homeLink:hover {
	background: rgba(100, 100, 100, 0.5);
}

#body h2 {
	background: rgba(0, 0, 0, 0.15);
}

p.ref {
	color: var(--theme-main-color);
	background: rgba(0, 0, 0, 0.15);
}

code a:not(:hover) {
	color: var(--theme-main-color);
	text-decoration: none;
}

a.library-button {
	color: var(--theme-main-color);
	background: rgba(80, 80, 80, 0.4);
}

a.library-button:hover {
	background: rgba(255, 255, 255, 0.2);
}

button:hover{
	background: rgba(0, 0, 0, 0.2);
}

div.ebox label {
	display: block;
	width: 10em;
	background: rgba(0, 0, 0, 0.2);
}

div.ebox label:hover {
	border-radius: 2px;
	background: rgba(255, 255, 255, 0.1);
}

/* CODE HIGHLIGHTER */

pre code {
	color: var(--theme-main-color);
}

span.hljs-keyword {
	font-weight: bold;
	color: var(--theme-second-color);
}

span.hljs-number, span.hljs-literal{
	font-style: italic;
	color: var(--theme-third-color);
}

span.hljs-string {
	font-weight: bold;
}

span.hljs-comment {
	color: #555;
}

span.hljs-built_in {
	text-decoration: underline;
}

span.hljs-meta {
	font-weight: bold;
	color: var(--theme-third-color);
}

span.hljs-meta-string {
	font-style: italic;
}

p code {
	background: rgba(255, 255, 255, 0.1);
}
