body {
	color: #444;
	background-color: var(--theme-main-color);
}

img.qr-code {
	opacity: 0.8;
}

div.box {
	background: rgba(255, 255, 255, 0.3);
}

pre {
	background-color: rgba(255, 255, 255, 0.3);
}

date {
	color: #555;
}

a {
	color: #555;
}

#nav a {
	color: #444;
}

#nav ul a li {
	background: rgba(255, 255, 255, 0.3);
}

#nav ul a li:hover {
	background: rgba(100, 100, 100, 0.3);
}

#homeLink {
	background: rgba(255, 255, 255, 0.3);
}

#homeLink:hover {
	background: rgba(100, 100, 100, 0.3);
}

#body h2 {
	background: rgba(0, 0, 0, 0.15);
}

p.ref {
	color: rgba(0, 0, 0, 0.5);
	background: rgba(255, 255, 255, 0.4);
}

code a:not(:hover) {
	color: #333;
	text-decoration: none;
}

a.library-button {
	color: black;
	background: rgba(255, 255, 255, 0.4);
}

a.library-button:hover {
	background: rgba(0, 0, 0, 0.2);
}

button:hover{
	background: rgba(0, 0, 0, 0.2);
}

div.ebox label {
	display: block;
	width: 10em;
	background: rgba(255, 255, 255, 0.25);
}

div.ebox label:hover {
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.2);
}

/* CODE HIGHLIGHTER */

pre code {
	color: #333;
}

span.hljs-keyword {
	font-weight: bold;
	color: var(--theme-second-color);
}

span.hljs-number, span.hljs-literal{
	font-style: italic;
	color: var(--theme-third-color);
}

span.hljs-string {
	font-weight: bold;
}

span.hljs-comment {
	color: #777;
}

span.hljs-built_in {
	text-decoration: underline;
}

span.hljs-meta {
	font-weight: bold;
	color: var(--theme-third-color);
}

span.hljs-meta-string {
	font-style: italic;
}

p code {
	background: rgba(255, 255, 255, 0.3);
}
