body {
	margin: 20px;
	padding: 0;
	font-family: helvetica, arial;
	text-align: justify;
}

svg {
	width: 1em;
	height: 1em;
	vertical-align: middle;
	margin: 0 2px 2px 0;
}

svg rect {
	fill: #444;
}

svg line {
	stroke: var(--theme-main-color);
}

div.box {
	border-radius: 4px;
}

div.ebox {
	margin: 1em 2%;
	padding: 0;
}

div.ebox p {
	margin: 0;
	padding: 0.2em;
}

pre{
	border-radius: 3px;
	margin: 0;
	padding: 10px;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	overflow: auto;
	max-height: 600px;
}

nav {
	bottom: 20px;
	top: 20px;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 9.2em;
	font-family: arial;
}

date {
	font-size: 0.85em;
	padding: 1em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav a {
	text-decoration: none;
}

#nav ul a li {
	padding: 2px 0 2px 5px;
	margin: 4px 0;
	border-radius: 2px;
}

span.shaded {
	opacity: 0.6;
}

#homeLink {
	border-radius: 3px;
	padding-left: 0.3em;
}

#body {
	padding: 30px 60px;
	margin-left: 11em;
	max-width: 45em;
	min-width: 30em;
}

#body h1 {
	margin-top: 0.5em;
	margin-bottom: 2em;
	font-size: 2.2em;
}

#body h2 {
	font-size: 1.2em;
	padding-left: 3em;
	margin: 2.5em -15px 0.8em -15px;
	padding: 0.1em 0.5em;
	border-radius: 2px;
}

p.ref {
	font-size: 0.8em;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	border-radius: 3px;
	margin-bottom: 0;
	padding: 4px;
	float: right;
}

#nav {
	padding: 10px;
}

#link {
	margin: 2em 0 0 0;
	padding: 10px;
	font-size: 0.8em;
}

#link li {
	margin: 5px 10px;
}

a.library-button {
	text-decoration: none;
	border-radius: 3px;
	padding: 0.5em 2em;
	margin: 0.5em;
	display: inline-block;
	text-align: center;
}

button {
	border: 0;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 3px;
	padding: 0.4em 1em;
	margin: 0.4em;
	display: inline-block;
	text-align: center;
}

#license {
	font-size: 0.8em;
}

p code {
	padding: 2px;
	border-radius: 4px;
}
